body{
   font-size: 16px;
}

.body{
   height: 100vh;
}

.platsContainer{
   /* --p:3em; */
   background: var(--d2);
   border-radius: 2em;
   box-shadow: #00000033 0px 10px 10px 0;
   /* padding: var(--p); */
   /* height: 100%; */
}


a.manageCategories{
   padding: 1em 2em;
   color: var(--b2);
   border: 2px solid var(--b2);
   border-radius: 1em;
   display: inline-block;
   /* margin-bottom: 2em; */
   margin: 3em;
}

.categoriesMenu{
   display: flex;
   gap: 1em;
   overflow: auto;
   position: relative;
   margin-bottom: 1em;

}

.categoriesMenu::after{
   z-index: 100;
   width: 100%;
   position: absolute;content: '';
   bottom: 0;left: 0;
   background: var(--d1);
   height: 2px;
}


.categoriesMenu::-webkit-scrollbar{
   height: 4px;
}


.categoriesMenu::-webkit-scrollbar-track-piece{
   background: var(--d2);
}



.categoriesMenu .category{
   padding: 0.5em 2em;
   font-size: 1.3em;
   color: var(--l1);
   cursor: pointer;
   font-weight: 600;
}

.categoriesMenu .category.active{
   color: var(--b2);
   position: relative;

}

.categoriesMenu .category.active::after{
   content: '';
   width: 70%;
   position: absolute;
   height: 5px;
   background: var(--b2);
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
}




.categoriesShow{
   overflow: auto;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 2em;
   padding: 3em;
   display: none;

}

.categoriesShow.Tous{
   display: grid;
}

.categoriesShow .plat{
   background: var(--d1);
   border-radius: 2em;
   color: var(--l1);
   padding: 1em;
   display: flex;align-items: center;
   flex-direction: column;
}

.categoriesShow .plat img{
   max-width: 80%;
   aspect-ratio:1/1;
   object-fit: cover;
   border-radius: 100vmax;

   
}

.categoriesShow .plat button{
   font-size: 1em;
   /* display: block; */
   width: 100%;
   box-sizing: border-box;
   margin-top: 2em;
}

.categoriesShow .addPlat{
   background:var(--d1);
   color: var(--b2);
   border: 3px dashed var(--b2);
   border-radius: 2em;
   display: grid;
   place-items: center;
   cursor: pointer;
}
.categoriesShow .addPlat *{
   font-size: 3em;
}

.popup{
   position: fixed;
   inset: 0;
   z-index: 100;
   background: #000000aa;
   display: none;
   place-items: center;
   overflow: auto;
}
.popup .container{

   color: var(--l1);
   border: 1px solid var(--d2);
   background: var(--d1);
   padding: 2em;
   border-radius: 3em;
   min-width: 80vw;

   max-width: 100%;

   min-height: 70vh;
   max-height: 100%;
   text-wrap: nowrap;
}
.popup .container form{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.popup .container .inp{
   display: flex;justify-content: space-between;
   width: 70%;
   align-items: center;
   margin-bottom: 1em;
   
}

.popup .container .inp input{
   background: var(--d2);
   border: 1px solid var(--d1);
   padding: 0.7em;
   color: var(--l1);
   width: 70%;
   font-size: 1.2em;
}

.popup .container .inp select{
   padding: 0.2em;
   border: 1px solid var(--d1);
   margin-right: 50%;
   width: 20%;
   background: var(--d2);
   color: var(--l1);
   padding: 0.7em;
   font-size: 1.2em;

}


.popup .buttons{
   display: flex;
   gap: 0.5em;
   justify-content: end;
   width: 100%;
   margin-top: 3em;
}
.popup .buttons button{
   font-size: 0.7em;
   padding: 1em 4em;
   border-radius: 1em;
}
.popup .buttons button.cancel{
   border: 2px solid var(--b2);
   color: var(--b2);


}

.popup .buttons button.delete{
   background: var(--red);
   border: 2px solid var(--red);
}

.popup .buttons button.save{
   background: var(--b2);
   border: 2px solid var(--b2);
   
}


#imageUpload{
   position: relative;
   border-radius: 100vmax;
   aspect-ratio: 1/1;
   overflow: hidden;
   margin-bottom: 2em;
   cursor: pointer;
   
}

#imageUpload::after{
   content: 'Upload an image';
   position: absolute;
   transform: translate(-50%,-50%);
   top: 50%;
   left: 50%;
}

#imageUpload img{
   width: 100%;
   height: 100%;
   object-fit: fill;
   max-width: 10em;
}

#imageUpload :is(:not(img)){
   position: absolute;
   inset: 0;

}

#imageUpload div{
   background: var(--d1);
   opacity: 0.5;
   display: grid;place-items: center;
}