:root {
   --swiper-theme-color: var(--b2);
   --swiper-pagination-bottom: -3em;
}

body {
   padding: 2em;
   position: relative;
   margin-bottom: 5rem;
}

.pageTitle {
   color: var(--l1);
   font-size: 7em;
   position: relative;
   display: inline-block;
   flex-grow: 0;
   flex-shrink: 1;
}

.pageTitle::after {
   content: '';
   background: var(--b2);
   width: 110%;
   height: 4px;
   position: absolute;
   bottom: 10px;
   left: 0;
   border-radius: 100vmax;
}

.category {
   margin: 3em 0 6em;

}


.categoryTitle {
   color: var(--l1);
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 3em;
   margin-bottom: 1em;
}

.categoryTitle div {
   width: 20px;
   height: 4px;
   border-radius: 100vmax;
   background: var(--b2);
}

.categoryTitle h2.ar {
   font-weight: 400;
}


.swiper-container {
   position: relative;
}

.pack {
   background: var(--d2);
   border-radius: 2em;
   overflow: hidden;
}

.pack img {
   width: 100%;
   aspect-ratio: 5/3;
   object-fit: cover;
}

.pack .content {
   padding: 2em;
}

.pack .content .name {
   color: var(--l1);
   font-size: 1.8em;
   margin-bottom: 1em;
}

.pack .content .plats {
   color: var(--l2);
   margin-bottom: 1em;
}


.pack .bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.price {
   color: var(--b2);
   font-size: 2.5em;
}

.addtocart {
   color: var(--b1);
   background: var(--b2);
   display: grid;
   place-items: center;
   border-radius: 0.6em;
   display: none;

   
      padding: 0.3em 1em;
      font-size: 1.3em;
  }

button.addtocart.active {
   display: grid;
}




.itemsContainer {
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(30em,1fr));
   gap: 2em;
   margin-top: 3em;

}

.plat {
   height: 20em;

}

.plat,
.sandwich,
.cart .pack,
.info .orderType {
   background: var(--d2);
   padding: 2.4em;
   color: var(--l1);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   border-radius: 2em;
   overflow: visible;
   position: relative;
}



.sidePanel .itemsContainer .container,
.plat,
.pack,
.sandwich,
.info .orderType {
   box-shadow: #0000002E 0 10px 10px 0;

}


.plat .img {
   height: 70%;
   position: absolute;
   right: -3em;
   top: 50%;
   transform: translateY(-50%);
}


@media screen and (min-width:425px) {
   
   .plat .img{
      right: 1em;
      height: 60%;
   }
}

.plat .img img {
   height: 100%;
   aspect-ratio: 1/1;
   object-fit: cover;
   border-radius: 100vmax;
}

.plat .bottom {
   display: flex;
   justify-content: space-between;
   width: 70%;
}


.quantity {
   display: none;
   color: var(--b1);
   background: var(--b2);
   font-size: 2em;
   align-items: center;
   border-radius: 0.4em;
   padding: 0.5em;
   height: 1.5em;
}

.sandwich .quantity {
   display: flex;
}

.quantity.active {
   display: flex;
}


.quantity input {
   all: unset;
   width: 2em;
   text-align: center;
}

.platName {
   font-size: 2.4em;
}


.actionBtns {
   display: flex;
   width: 100%;
   gap: 1em;
   position: fixed;
   bottom: 0;
   right: 0;
   padding: 0 2em 6em;
   z-index: 100;
}

.actionBtns div>button {
   display: none;
   transition: 0.3s;
}

.actionBtns div>button.active {
   display: block;
}

.actionBtns .midBtns {
   display: flex;
   flex-direction: column;
   flex-grow: 1;
}

.actionBtns>button {
   padding: 1em;
   display: block;
   text-align: center;
   border-radius: 1em;
   font-size: 2em;
   font-weight: 500;
   display: none;
   transition: 0.3s;
}

.actionBtns>button.active {
   display: block;
}

.actionBtns>button.backBtn {
   background: var(--red);
   color: var(--l-red);
}

.actionBtns>button.g-btn {
   background: var(--green);
   color: var(--l-green);
}

button.checkCartBtn {
   display: none;
}


.sandwich.addSandwich {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: row;
   height: unset;
   cursor: pointer;
}

.sandwich.addSandwich .platName {
   font-size: 2em;
   color: var(--l1);
}

.sandwich.addSandwich i {
   font-size: 3em;
}

.sandwich .top {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.sandwich .top i {
   font-size: 3em;
}

.sandwich .contents .header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 2em;
   border-bottom: var(--d1) solid 1px;
   margin: 2em 0 1em;
}

.sandwich .contents .ingredient {
   display: flex;
   justify-content: space-between;
   margin-bottom: 1em;

}


.sandwich .contents .ingredient.paid span{
   color: var(--b2);
   
}

.sandwich .contents .ingredient>* {
   font-size: 1.6em;
}

.sandwich .contents .ingredient .quantity {
   font-size: 1em;
}

.sandwich .contents .ingredient .price {
   display: flex;
   align-items: center;
   gap: 1em;
}

.sandwich .contents .ingredient .unitPrice {
   text-wrap: nowrap;
}


.sandwich .sandwichPrice{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 1em 0 0;
   font-size: 1.5em;
   padding: 1em 0;
   border-top: 1px solid var(--d1);
   text-align: right;
}

.sandwich .sandwichPrice .quantity{
   font-size: 1.5em;
}

.switch {
   --button-width: 3em;
   --button-height: 1.7em;
   --toggle-diameter: 1em;
   --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
   --toggle-shadow-offset: 10px;
   --toggle-wider: 3em;
   --color-grey: var(--d1);
   --color-green: var(--b2);
}

.slider {
   display: inline-block;
   width: var(--button-width);
   height: var(--button-height);
   background-color: var(--color-grey);
   border-radius: calc(var(--button-height) / 2);
   position: relative;
   transition: 0.3s all ease-in-out;
}

.slider::after {
   content: "";
   display: inline-block;
   width: var(--toggle-diameter);
   height: var(--toggle-diameter);
   background-color: var(--l2);
   border-radius: calc(var(--toggle-diameter) / 2);
   position: absolute;
   top: var(--button-toggle-offset);
   transform: translateX(var(--button-toggle-offset));
   box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
   transition: 0.3s all ease-in-out;
}

.switch input[type="checkbox"]:checked+.slider {
   background-color: var(--color-green);
}

.switch input[type="checkbox"]:checked+.slider::after {
   transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
   box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}

.switch input[type="checkbox"] {
   display: none;
}

.switch input[type="checkbox"]:active+.slider::after {
   width: var(--toggle-wider);
}

.switch input[type="checkbox"]:checked:active+.slider::after {
   transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}

.sidePanel {
   height: 100dvh;
   padding: 2em;
   display: flex;
   flex-direction: column;
   flex: 1 auto 1;
   position: fixed;
   top: 0;
   right: -100%;
   z-index: 99;

   background: var(--d1);
   width: 100%;
   transition: 0.3s ease-in-out;

}

.sidePanel.active {
   right: 0;
}

.cart .topRow {
   font-size: 1.5em;
   color: var(--l1);
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: var(--d2) 2px solid;

   margin: 3em 0 0;



}



.sidePanel .itemsContainer {
   display: flex;
   flex-direction: column;
   overflow: auto;
   flex: 1;
}

.sidePanel>div {
   flex: 1 auto 1;
}


.cart .topRow .right {
   display: flex;
   gap: 1em;
   align-items: center;
}



.cart .plat,
.cart .pack .header,
.cart .sandwich .header
{
   display: flex;
   flex-direction: row;
   height: unset;
   max-width: 100%;
   align-items: center;
   justify-content: space-between;

}



.cart .pack .header {
   border-bottom: var(--d1) 1px solid;
}

.cart .platName {
   font-size: 1.4em;
}

.cart .right,
.cart .left {
   display: flex;
   align-items: center;
   gap: 0.5em;
}

.cart .left button.del {
   color: var(--red);
   font-size: 2em;
}

.cart .right {
   font-size: 1.5em;
}

.cart .right .qtyControls {
   display: grid;
}

.cart img {
   max-height: 7em;

}

.cart .pack img {
   aspect-ratio: 1/1;
   border-radius: 2em;
   width: unset;
}

.cart button.del,
.cart .qtyControls {
   max-width: 0;
   overflow: hidden;
   transition: 0.3s;
}

.cart.edit button.del,
.cart.edit .qtyControls {
   max-width: 100px;

}

.cart .pack .contents {
   padding: 2em 2em 0;
   font-size: 1.4em;
   color: var(--l2);
}

.cartTotal {
   color: var(--l1);
   font-size: 2em;
   font-weight: 400;
   text-align: right;
   padding: 1em 0 6em;
   border-top: 1px solid var(--d2);
}


.info .orderType {
   flex-direction: row;
   justify-content: start;
   align-items: center;
   background: var(--d2);
   border-radius: 2em;
   font-size: 0.7em;
   gap: 3em;
   padding: 4em;
   transition: 0.3s;
   cursor: pointer;
}

.info .orderType:hover {
   background: #303030;
}

.info .orderType .ar {
   font-size: 1em;
}


.sidePanel.table .itemsContainer,
.sidePanel.emporter .itemsContainer,
.sidePanel.livraison .itemsContainer {
   display: grid;
   place-items: center;

}



.sidePanel.table .itemsContainer .container,
.sidePanel.emporter .itemsContainer .container,
.sidePanel.livraison .itemsContainer .container {
   background: var(--d2);
   padding: 4em;
   border-radius: 2em;
}


.sidePanel.table .itemsContainer .name,
.sidePanel.emporter .itemsContainer .name,
.sidePanel.livraison .itemsContainer .name {
   color: var(--l1);
   font-size: 2em;
   margin-bottom: 2em;
}

.sidePanel.table .itemsContainer .name .ar,
.sidePanel.emporter .itemsContainer .name .ar,
.sidePanel.livraison .itemsContainer .name .ar {
   font-size: 1em;
}

.sidePanel.table .input,
.sidePanel.emporter .input,
.sidePanel.livraison .input {
   background: var(--d1);
   padding: 10px;
   border-radius: 15px;
   font-size: 1.5em;
   color: var(--l1);
   display: flex;
   align-items: center;
   justify-content: space-between;

}

.sidePanel input {
   background: none;
   border: none;
   outline: none;
   text-align: center;
   color: var(--l1);
   width: 50%;
}

.sidePanel.table button {
   background: var(--d2);
   height: 100%;
   aspect-ratio: 1/1;
   display: block;
   padding: 1em;
   border-radius: 5px;

}




.sidePanel.emporter .itemsContainer .container,
.sidePanel.livraison .itemsContainer .container {
   display: grid;
   border-radius: 3em;
   gap: 2em;
}

.sidePanel.emporter input ,
   .sidePanel.livraison input {
   background: var(--d1);
   width: 100%;
   font-size: 1.5em;
   padding: 0.7rem 1.5rem;
   border-radius: 10px;
   text-align: left;

}

.sidePanel.emporter .persInfoLabel ,
   .sidePanel.livraison .persInfoLabel {
   display: flex;
   color: var(--l1);
   align-items: center;
   justify-content: space-between;
   font-size: 2em;
}

#CartForm{
   display: none;
}

@media screen and (min-width:450px) {
   body{
      font-size: 9px;
      padding: 3em;
   }
}

@media screen and (min-width:625px) {
   body{
      font-size: 10px;
      padding: 4em;

   }
   
}


@media screen and (min-width: 768px) {
   :root{
      --rmenu-width: 30vw;
   }
   body{
      font-size: 9px;
      padding: 5em;
      margin-right: var(--rmenu-width);

   }

   .sidePanel {
      width: var(--rmenu-width);
      box-shadow: 0 0 10px 0 #0000002E;
      font-size: 8px;
   }

   .sidePanel.cart{
      right: 0;
   }

   .actionBtns{
      width: var(--rmenu-width);
      font-size: 8px;
      
   }
   .categoryTitle{
      flex-direction: column;
      align-items: start;
   }

   .categoryTitle div {
      width: 100px;
   }

}